<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
	<f:flashMessages />
	<f:variable name="ll" value="LLL:EXT:lalalytics/Resources/Private/Language/locallang_db.xlf" />

	<h1>{f:translate(id: '{ll}:new.title')}</h1>
	<f:form action="create" name="newEvent" object="{newEvent}">
		<f:render partial="Event/FormFields" arguments="{sites: sites}" />
		<button class="btn btn-default">
			<core:icon identifier="actions-save" size="small" />
			{f:translate(id: '{ll}:create')}
		</button>
	</f:form>
</f:section>

</html>
